<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ücretli_Maaş.Properties.Settings.mustafa_gurbuz_dbConnectionString"
            connectionString="Data Source=85.214.46.212;Initial Catalog=mustafa_gurbuz_db;Persist Security Info=True;User ID=mustafa_gurbuz_user;Password=mustafa_gurbuz_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>